body {
  font-family: 'Ubuntu' , sans-serif;
  margin: 0;
  display: block;
}

.about-container {
  background: url(background.jpg) no-repeat center center fixed;

  background-size: cover;
  height: 600px;
}
 div {
  display:block;
 }

 ul {
  display:block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
 }

 li {
  display: inline-block;
  font-size: 12px;
  width: 100px;
  font-weight: bold;
  margin-top: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  margin-left: 30px;
 }

 .about {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
 }

 .me {
  height: 150px;
  border-radius: 100%;
  border-style: solid;
  border-color: #F4C3F2;
  margin-top: 40px;
  text-align: center;
 }

 h1 {
  color: #F4C3F2;
  font-size: 50px;
  font-weight: normal;
 }

 h2 {
  color: #F4C3F2;
  font-size: 18px;
  margin-top: 0;
 }

 .grey {
  height: 3px;
  background-color: #030221;
  border: none;
  width: 50px;
 }

 hr {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
 }

 .bio {
  color: #F4C3F2;
  font-size: 14px;
 }

 p {
  text-align: center;
 }

 h3 {
  text-align: center;
  font-size: 28px;
  font-weight: normal;
  margin-top: 100px;
 }

 .yellow {
  border-top: 5px double #F5A623;
  width: 250px;
  border-bottom: none;
  border-right: none;
 }

 .hire-me {
  border-style: solid;
  border-color: white;
 }

 .nav-link {
  color: white;
  text-decorations: none;
 }

 .box {
  float: left;
  width: 42.5%;
  margin-left: 5%;
  margin-top: 80px;
 }

 h4 {
  text-align: center;
  font-size: 24px;
 }

 .clear {
  clear: both;
 }

 .full-width {
  width: 100%;
 }